.footer {
  background-color: #000a15;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.line {
  height: 1px;
  margin: 2px auto;
  width: 820px;
  background-image: radial-gradient(
    rgba(255, 255, 255, 0.514),
    transparent,
    transparent
  );
}

.links {
  display: flex;
  justify-content: center;
  margin: 20px auto;
}

.socialMediaIcons {
  width: 30px;
  margin: 0 20px;
  opacity: 0.825;
  transition: all 0.15s;
}

.socialMediaIcons:hover {
  cursor: pointer;
  transform: scale(1.125);
  opacity: 1;
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.125);
}

.copyrightContainer {
  margin-bottom: 20px;
}

.copyright {
  color: #c0c0c0;
  font-size: 12px;
  text-align: center;
}
