.videoGalleryContainer {
  margin: auto;
  max-width: 1280px;
}

.videoGallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
}

@media (max-width: 1280px) {
  .videoGallery {
    grid-template-columns: 1fr 1fr;
    margin: 0 5%;
    transition: all 0.15s;
  }
}

@media (max-width: 1080px) {
  .videoGallery {
    grid-template-columns: 1fr;
    margin: 0 5%;
    transition: all 0.15s;
  }
}

.videoPreview {
  position: relative;
}

.videoThumbnails {
  width: 100%;
  border-radius: 2px;
  aspect-ratio: 21/9;
  object-fit: cover;
  transition: all 0.15s;
}

.videoTitleContainer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.625);
  overflow: hidden;
  opacity: 0;
  transition: all 0.15s;
}

.videoTitleContainer:hover {
  opacity: 1;
  cursor: pointer;
}

.videoTitle {
  color: whitesmoke;
  text-decoration: none;
}
